@charset 'utf-8';

/*========================================
SETUP
========================================*/

html {
    box-sizing: border-box;
    background: #fff;
    color: #333;
    font: normal 100%/1.5 sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
}

a,
a:link,
a:visited {
    color: #00c;
}

a:hover,
a:active {
    color: #000;
}

h1,
h2,
h3 {
    color: #000;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.5em;
    line-height: 1em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.2em;
}

article,
footer,
header,
nav {
    display: block;
}


/*========================================
GENERAL
========================================*/

.container {
    margin: 0 auto;
    max-width: 800px;
}

.header {
}

section {
    clear: both;
    float: left;
    width: 100%;
}

.footer {
}

.footer a {
    color: #ccc;
}


/*========================================
EVENTS
========================================*/

.directory {}

.events {
    padding: 0;
    width: 100%;
}

.event {
    margin: 0 0 1em;
}


/*========================================
FAQ
========================================*/

.faq {}
