@charset 'utf-8';

/*========================================
SETUP
========================================*/

html {
    box-sizing: border-box;
    background: #fff;
    color: #333;
    font: normal 100%/1.5 "Fira Sans", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #eee;
}

a {
    color: #00c;
    transition: color 0.3s ease;
}

a:hover,
a:active {
    color: #000;
}

h1,
h2,
h3,
p,
ol,
ul {
    margin: 0 0 10px;
}

h1,
h2,
h3 {
    color: #000;
}

h1 {
    padding-top: 20px;
    font-weight: normal;
    font-size: 36px;
    font-size: 2.25rem;
}

h2 {
    padding-top: 20px;
    font-size: 24px;
    font-size: 1.5rem;
}

h3 {
    padding-top: 10px;
    font-size: 16px;
    font-size: 1rem;
}

article,
footer,
header,
nav {
    display: block;
}


/*========================================
GENERAL
========================================*/

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 500px;
    background: #fff;
}

.header {
}

section {
}

.footer {
}

.footer a {
    color: #ccc;
}


/*========================================
EVENTS
========================================*/

.directory {}

.note {
    padding: 10px;
    background: #eee;
    font-size: 12px;
    font-size: 0.75rem;
}

.events {
    margin: 20px 0;
    border-top: 1px solid #eee;
    padding: 0;
    width: 100%;
    list-style: none;
}

.event {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.event > :last-child {
    margin-bottom: 0;
}

.event__title {
    margin-bottom: 0;
    padding-top: 0;
    font-size: 18px;
    font-size: 1.125rem;
}

.event__title a {
    text-decoration: none;
}

.event__summary {
    margin-bottom: 5px;
}

.event__date {
    color: #999;
    font-size: 12px;
    font-size: 0.75rem;
    font-family: "Fira Mono", monospace;
}

.event__date .icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    width: 1em;
}

.event__next {
    color: #999;
}


/*========================================
FAQ
========================================*/

.faq {}
